#checkoutContainer {
    font-size: 15px;
    font-family: $font-ui;
    .ui-tabs .ui-tabs-panel {
        padding: 0;
    }
}

.CheckoutBreadcrumb {
}

.ui-widget {
    font-family: $font-ui;
    font-size: unset;
}

#RestCart_tabs {
    border: 0;
    padding-top: 0;
    padding-bottom: 0;
    .CheckoutBreadcrumbInner {
        .ui-state-default {
            border: 0;
            background: transparent;
        }
        .ui-tabs-nav {
            border: 0;
            background: transparent;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin: 0;
            padding: 0;
            font-weight: normal;
        }
    }
}

#RestCart_tabItems {
    padding: 0;
    margin: 1em 0;
}

.continueShopping {
    margin-right: 1em;
    a {
        padding: 0.5em;
        display: inline-block;
        &:hover {
            color: inherit;
        }
    }
}

.CheckoutHeader {
    margin-bottom: 1rem;
    h3 {
        font-size: 1.8rem;
    }
    .message {
        display: block;
        font-size: 0.8em;
        margin-top: 0.5em;
        width: 100%;
        color: green;
    }
}

.CheckoutSubHeader {
    font-size: 1em;
    font-weight: bold;
}

.checkoutHeaderBtn:not(.CartSubtotalShippingContainer) {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

#CartEmptyDialogOverlay {
    position: absolute;
    top: -1.2rem;
    left: calc(((100vw - 100%)/2)*-1);
    right: calc(((100vw - 100%)/2)*-1);
    background-color: rgba(0, 0, 0, 0.75);
    width: 100vw;
    height: calc(100% + 4.4rem);
    z-index: 1;
}

#CartEmptyDialogContent {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 2rem 5rem;
    text-align: center;
    border: 0;
    border-radius: 0.25rem;
}

.CartEmptyMessage {
    font-weight: bold;
}

.SavedCartsHeading {
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid #ececec;
    width: 300px;
}

.RestCart_CartItem {
    .cartImg img {
        max-width: 120px;
    }
    &.Comments {
        display: none;
        .cartItemCommentArea {
            display: none;
        }
    }
}

.RestSavedCartName ion-icon {
    font-size: 1.2rem;
}

.RestSavedCartName #label {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.RestSavedToolbar {
    width: 250px;
    height: 32px;
    a:hover {
        text-decoration: none !important;
    }
}

.RestSavedCartName input {
    width: 215px;
}

.RestSavedCartActions,
.RestSavedCartUseCart,
.RestSavedCartDelete{
    float: left;
}

#RestCart_renameLabel a {
    border-radius: 0.25rem 0 0 0.25rem;
    border: 1px solid #d2d2d2;
    border-right: 0;
    display: inline-block;
}

.RestSavedCartUseCart a {
    border-radius: 0;
    border: 1px solid #d2d2d2;
    border-left: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
    display: inline-block;
}

.RestSavedCartDelete a {
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #4e4e4e !important;
    padding: 0.25rem 1rem;
    background-color: #f7f7f7;
    border-radius: 0 0.25rem 0.25rem 0;
    border: 1px solid #d2d2d2;
    border-left: 0;
}

#RestCart_renameLabel a,
.RestSavedCartUseCart a {
    color: #4e4e4e !important;
    padding: 0.25rem 1rem;
    background-color: #f7f7f7;
}

#RestCart_saveCancel {
    border-radius: 0.25rem 0 0 0.25rem;
    border: 1px solid #d2d2d2;
    background-color: #f7f7f7;
    border-right: 0;
    height: 32px;
}

.RestSavedToolbar #RestCart_saveCancel a {
    font-size: 1.2rem;
    padding: 0.25rem 0.5rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    color: #4e4e4e;
}

.gips-container {
    position: absolute;
    border: 0;
    background-color: #ffffff;
    color: #2d2d2d;
    z-index: 1;
    display: block;
    width: 280px;
    text-align: center;
    padding: 0.5rem;
    margin-top: -2px;
    border-radius: 0.25rem;
    box-shadow: 0 0 4rem -0.5rem #8c8c8c;
    .gips-body {
        margin-top: 1.8rem;
    }
    input[type="button"][value="Yes"] {
        background-color: #449a44;
        color: #fff;
        border: 0 !important;
        border-bottom: 2px solid #347334 !important;
        box-shadow: none !important;
        border-radius: 0.2rem;
        margin-right: 0.25rem;
        cursor: pointer;
    }
    input[type="button"][value="No"] {
        background-color: #d23434;
        color: #fff;
        border: 0 !important;
        border-bottom: 2px solid #8e2d2d !important;
        box-shadow: none !important;
        border-radius: 0.2rem;
        margin-left: 0.25rem;
        cursor: pointer;
    }
    .gips-close {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        &::after {
            content: '\f00d';
            font-size: 1.2rem;
            font-family: 'FontAwesome';
            color: #636363;
        }
    }
}


.prod_headwrap {
    background-color: #eceff1;
    line-height: 2.5em;
    margin-bottom: 1em;
}

.prod_cartlist {
    border-top: 1px solid #eceff1;
    padding-top: 0.5em;
}

.prod_total {
    text-align: right;
}

.cartItemName, .cartItemNum {
    margin-bottom: 0.2em;
}

.cartItemNum {
    white-space: nowrap;
}

.cartQtyInput input {
    text-align: center;
    padding: 0.25em;
    width: 4em;
}

.link-update-mobile {
    font-size: 1.5rem;
}

@media (max-width: 767px) {
    .prod_price,
    .prod_qty {
        margin-bottom: 0.2em;
    }
}

@media (min-width: 768px) {
    .prod_cartlist {
        border-top: 0;
        padding-top: unset;
    }
    .prod_headwrap {
        .prod_total {
            width: 115px;
            max-width: 115px;
        }
    }
    .prod_price {
        width: 120px;
        max-width: 120px;
        text-align: center;
    }
    .prod_qty {
        width: 80px;
        max-width: 80px;
        text-align: center;
    }
    .prod_total {
        width: 100px;
        max-width: 100px;
    }
}

#RestCartItems {
    .cartItemRow {
        padding-bottom: 0.5em;
        border-bottom: 1px solid #eceff1;
        margin-bottom: 0.5em;
        &:last-of-type {
            margin-bottom: 1em;
        }
    }
}

#RestCart_tabs {
    .CheckoutBreadcrumbInner{
        .ui-state-disabled,
        .ui-widget-content .ui-state-disabled,
        .ui-widget-header .ui-state-disabled {
            opacity: unset;
            filter: none;
            a {
                i,span {
                    opacity: .35;
                    filter: Alpha(Opacity=35);
                }
                .tabArrow {
                    opacity: 1;
                    filter: none;
                }
            }
        }
        .ui-state-default {
            display: flex;
            background: #f7f7f7;
            background: linear-gradient(180deg, #f7f7f7 0%, #dde0e2 100%);
            margin: 0;
            padding: 0;
            box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
            border-radius: 3px 0 0 3px;
            position: relative;
            margin-left: 0;
            margin-bottom: 0.5em;
            text-align: center;
            justify-content: center;
            align-items: center;
            &:last-of-type {
                border-radius: 0 3px 3px 0;
            }
            &.ui-state-active,
            &.ui-tabs-complete {
                background: linear-gradient(180deg, $cobc 0%, darken(desaturate(adjust-hue($cobc, 4), 1.22), 15.29) 100%);
                a {
                    color: #fff;
                    i {
                        background: linear-gradient(180deg, lighten(desaturate($cobc, 48.29), 4.51) 0%, darken(desaturate(adjust-hue($cobc, 2), 50.07), 40.98) 100%);
                        box-shadow: 0 2px 9px -2px darken(desaturate(adjust-hue($cobc, 2), 5.26), 23.92);
                    }
                    .tabArrow {
                        &::before {
                            background: linear-gradient(180deg, $cobc 0%, darken(desaturate(adjust-hue($cobc, 4), 1.22), 15.29) 100%);
                        }
                        &::after {
                            background: linear-gradient(135deg, $cobc 0%, darken(desaturate(adjust-hue($cobc, 4), 1.22), 15.29) 100%);
                        }
                    }
                }
            }
            a {
                background-color: inherit;
                padding: .5em 10px .5em 26px;
                font-size: 12px;
                line-height: 31px;
                width: 100%;
                .tabArrow {
                    display: block;
                    height: 44px;
                    width: 30px;
                    position: absolute;
                    top: -1px;
                    right: -24px;
                    overflow: hidden;
                    z-index: 1;
                    background-color: transparent;
                    &::before {
                        content: '';
                        position: absolute;
                        width: 10px;
                        height: 43px;
                        top: 1px;
                        right: 24px;
                        display: inline-block;
                        z-index: 1;
                        background: linear-gradient(180deg, #f7f7f7 0%, #dde0e2 100%);
                    }
                    &::after {
                        content: '';
                        width: 31px;
                        height: 30px;
                        transform: rotate(45deg);
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        box-shadow: 0 0 7px -1px rgba(0, 0, 0, 0.5);
                        background: #f7f7f7;
                        background: linear-gradient(180deg, #f7f7f7 0%, #dde0e2 100%);
                    }
                }
            }
            i {
                display: inline-flex;
                width: 22px;
                height: 22px;
                font-size: 8px;
                padding: 6px;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                color: #fff;
                border: 2px solid #fff;
                box-shadow: 0 2px 9px -2px #a1a1a1;
                background: #a1a1a1;
                background: linear-gradient(180deg, #a1a1a1 0%, #737373 100%);
                margin-right: 0.5em;
                &.fa-shopping-cart:before {
                    margin-left: -2px;
                }
            }
        }
    }
}

#checkoutContainer {
    .validationError {
        color: red;
        padding: 0.5em 0;
    }
    a {
        color: $accent;
    }
    input,select,textarea {
        border: 1px solid #a8a8a8;
        transition: 150ms ease-out;
        &:focus {
            border-color: #ced4da;
        }
    }
    .lblForm {
        display: block;
        font-size: 0.8rem;
        margin-bottom: 0.2rem;
        font-weight: bold;
    }
    .CheckoutBreadcrumb {
        a {
            color: #212529;
        }
    }
    #remove  {
        position: relative;
        a {
            font-size: 2rem;
            color: #c2cad0;
            width: 32px;
            height: 32px;
            display: inline-block;
            position: absolute;
            right: 0;
            z-index: 1;
            &:hover {
                color: #c2cad0;
            }
            ion-icon {
                outline: 0;
            }
        }
    }
}

.CheckoutRightContainer {
    max-width: inherit;
}

@media (min-width: 990px) {
    #RestCart_tabs {
        .CheckoutBreadcrumbInner {
            .ui-state-default {
                a {
                    padding: .5em 2.2em .5em 2.8em;
                    i {
                        width: 26px;
                        height: 26px;
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    #checkoutContainer {
        #remove {
            a {
                display: block;
                position: relative;
                right: unset;
            }
        }
        .cartItemName {
            width: inherit;
        }
    }
    .CheckoutRightContainer {
        max-width: 300px;
    }
}

// Cart Totals Section
    .CartSubtotalShippingContainer {
        text-align: right;
        margin-bottom: 1rem;
    }

    .cartTotalsLabel {
        font-weight: bold;
    }

    #cartSubTotalValue,
    #RestCart_listEstimateRate,
    #cartEstTotalValue {
        display: inline-block;
        width: 120px;
    }

    .EstimatedShippingTotal,
    .EstimatedTotal {
        margin-bottom: 0.5em;
    }

    .EstimatedShippingLocation select,
    .EstimatedShippingLocation #RestCart_EstimatePostalCode {
        font: inherit;
        line-height: 2.5em;
        height: 2.5em;
        max-height: none;
        box-sizing: border-box;
        padding: 0.5em;
        width: 160px;
        text-align: center;
    }

// Secure Checkout Tab --------------------------------
    #RestCart_identExisting {
        position: relative;
        &::after {
            content: '';
            display: block;
            background-color: #ececec;
            position: relative;
            width: 100%;
            height: 1px;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    }

    @media (min-width: 768px) {
        #RestCart_identExisting {
            &::after {
                position: absolute;
                width: 1px;
                height: 100%;
                top: 0;
                right: 15px;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
    }

// Shipping Tab --------------------------------

    #RestCart_tabSummary {
        #RestCart_totals {
            .orderSummary {
                max-width: none;
            }
        }
    }

    #RestCart_ProvinceSelect,
    #RestCart_Province {
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
    }

// Billing Tab --------------------------------
    #PaymentMethodsForm + .validationError {
        padding-left: 15px;
        margin-bottom: 1em;
    }

    .optional-account {
        font-weight: normal;
        font-style: italic;
        font-size: 0.7em;
    }

    #RestCart_totals {
        border: 2px solid #fff;
        border-radius: 3px;
        background: #f1f1f1;
        box-shadow: 0 0 0 1px #ccc;
    }

    .orderSummaryTitle {
        border-radius: .25rem .25rem 0 0;
        font-size: 1rem;
        font-weight: bold;
        background-color: $accent;
        color: #fff;
        padding: 10px 15px;
        margin-bottom: 0;
    }

    .orderSummary {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .orderSummaryBreak hr {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .orderSummaryLbl {
        font-size: 0.8em;
        text-align: right;
        &::after {
            content: '';
            display: block;
            clear: both;
        }
        b {
            float: left;
        }
        &.orderSummaryLblTotal {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    .sum-wrap {
        display: flex;
        flex-flow: row nowrap;
        padding: 5px;
        font-size: 0.8em;
        &.head {
            background-color: #d4d4d4;
            color: #333;
            font-weight: bold;
        }
        .sum-item {
            width: 50%;
        }
        .sum-qty {
            width: 15%;
            text-align: center;
        }
        .sum-total {
            width: 35%;
            text-align: right;
        }
        .prod {
            padding: 1px 10px 3px 10px;
        }
    }

// Review Tab --------------------------------
    .reviewOrderHeader {
        font-size: 1rem;
        font-weight: bold;
        margin-top: 1rem;
    }

    .reviewOrderEditLinks a,
    .editCartPlaceOrder {
        margin-top: 0.5rem;
        font-size: 0.8rem;
        display: block;
        text-decoration: underline;
        font-style: italic;
    }

    .checkoutHeaderBG {
        font-size: 1rem;
        padding: 0.5rem;
        margin-bottom: 0;
        background: $primary;
        color: #fff;
    }

    .checkoutHeaderTitle {
        .itemsSummaryListHeader {
            background: #f1f1f1;
            padding: 5px 10px;
            text-align: center;
            &:nth-of-type(1) {
                max-width: 40%;
            }
            max-width: 20%;
        }
    }

    .RestCart_summaryItemsRow {
        width: 100%;
        border-bottom: 1px solid #f1f1f1;
        .prod-details-wrap {
            max-width: 40%;
            flex-wrap: nowrap;
        }
        .cartItemPrice,
        .cartTotalItemPrice {
            text-align: center;
            max-width: 25%;
        }
        .cartQtyInput {
            text-align: center;
            max-width: 10%;
        }
        .cartImg {
            width: 40%;
            img {
                max-width: 100%;
                padding-right: 10px;
                display: inline-block;
            }
        }
    }

    @media (min-width: 576px){
        .RestCart_summaryItemsRow {
            .cartItemPrice,
            .cartQtyInput,
            .cartTotalItemPrice {
                text-align: center;
                max-width: 20%;
            }
        }
    }

    .editCartPlaceOrder {
        text-align: right;
        margin-right: 15px;
    }

    #reviewPlaceOrder {
        outline: 1px solid #ccc;
        background: #f5f5f5;
        border: 2px solid #fff;
        padding: 1rem;
        text-align: center;
        margin-bottom: 1rem;
        b {
            font-size: 0.8rem;
            margin-bottom: 0.5rem;
            display: block;
        }
    }