---
---
@import "{{ site.theme }}";
.page-header {
    background-color: #cc5e21;
    background-image: linear-gradient(120deg, #cc5e21, #ffb100);
}
h2 {
    padding-bottom: 1rem;
    border-bottom: 2px solid #eff0f1;
}
img[src*="#logo"] {
    margin: 2em auto;
}
.main-content {
    h1,h2,h3,h4,h5,h6 {
        color: #cc5e21;
    }
}
.github-link svg,
.docs-link svg,
.download-link svg {
    margin-right: 0.2rem;
    fill: #fff;
    box-sizing: content-box;
    position: relative;
    top: 4px;
}