<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>

    {% if site.google_analytics %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
    </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
</head>
<body>
<!--<a id="skip-to-content" href="#content">Skip to the content.</a>-->

<header class="page-header" role="banner">
    <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    {% if site.github.is_project_page %}
    <a href="{{ site.github.repository_url }}" target="stGh" class="btn">View on GitHub</a>
    {% endif %}
    {% if site.show_downloads %}
    <a href="https://github.com/rshelnutt/st-bootstrap/wiki" target="stDocs" class="btn">Documentation</a>
    <a href="{{ site.github.zip_url }}" class="btn">
        <svg width="256" height="256" class="octicon octicon-cloud-download" viewBox="0 0 16 16" version="1.1" aria-hidden="true">
            <path fill-rule="evenodd" d="M9 12h2l-3 3-3-3h2V7h2v5zm3-8c0-.44-.91-3-4.5-3C5.08 1 3 2.92 3 5 1.02 5 0 6.52 0 8c0 1.53 1 3 3 3h3V9.7H3C1.38 9.7 1.3 8.28 1.3 8c0-.17.05-1.7 1.7-1.7h1.3V5c0-1.39 1.56-2.7 3.2-2.7 2.55 0 3.13 1.55 3.2 1.8v1.2H12c.81 0 2.7.22 2.7 2.2 0 2.09-2.25 2.2-2.7 2.2h-2V11h2c2.08 0 4-1.16 4-3.5C16 5.06 14.08 4 12 4z"></path>
        </svg> Download .zip</a>
    <!--<a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>-->
    {% endif %}
</header>

<main id="content" class="main-content" role="main">
    {{ content }}

    <footer class="site-footer">
        {% if site.github.is_project_page %}
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> coded with ♡ by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
        {% endif %}
        <span class="site-footer-credits">A <a href="https://www.speartek.com">Speartek</a> production</span>
    </footer>
</main>
</body>
</html>